$def with ( content )
<!DOCTYPE html>
<html>
<head>
    <title>EZCOD - Easy Geolocation Code</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/app.css">

    <!--
     == Icons
     -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--
      == Begin loading of all Javascript resources early, and execute as asynchronously as possible.
      -->
    <script type="text/javascript">
        // Bindings for Emscripten initialization detection.
        var jquery_release = function() {
            console.log( "Emscripten run-time initialization completed before jQuery loaded" );
            jquery_loaded = function() {}; // nothing left to do after jquery loads.
        };
        var jquery_loaded = function() {
            console.log( "Emscripten run-time initialization blocking jQuery..." );
            $$.holdReady(true);		// force delay of triggering jQuery.on( 'ready', ...
            jquery_release = function() {
                console.log( "Emscripten run-time initialization completed; jQuery released" );
                $$.holdReady(false);	// ... 'til Emscripten code runtime is initialized
            };
        };
        var Module = {
            onRuntimeInitialized: function() {
                jquery_release(); // Emscripten run-time has been initialized
            }
        };
    </script>
    <script type="text/javascript" async
	    src="//cdn.rawgit.com/pjkundert/ezpwd-reed-solomon/v1.8.0/js/ezpwd/ezcod.js"
	    srctest="static/js/ezcod.js"> <!-- access a sym-link to locally built version if desired -->
    </script>
    <script type="text/javascript" defer onload="jquery_loaded()"
            src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <script type="text/javascript" defer
            src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
    </script>

    $if analytics:
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '$analytics["id"]', 'auto');
            ga('send', 'pageview');
        </script>
</head>
<body>
    $:content
</body>
</html>

