*~
*.o
/*.js.map
/*.js.mem
/README.tex
/auto
/emscripten/*
/ezcod
/ezcod_test
/ezcod_test.js
/phil-karn/ccsds_tab.c
/phil-karn/ccsds_tal.c
/phil-karn/fec
/phil-karn/fec-3.0.1/
/phil-karn/gen_ccsds
/phil-karn/gen_ccsds_tal
/phil-karn/librs.a
/rscompare
/rsexample
/rsexample.js
/rsexercise
/rsexercise.js
/rskey_test
/rskey_test.js
/rspwd_test
/rspwd_test.js
/rssimple
/rssimple.js
/rsvalidate
/schifra/
rscompare_nexc
rsembedded
rsembedded.js
