*.o
/emscripten/*
/ezcod
/ezcod_test
/ezcod_test.js
/rscompare
/rsexample
/rsexample.js
/rsexercise
/rsexercise.js
/rspwd-test
/rspwd-test.js
/rssimple
/rssimple.js
/rsvalidate
/README.tex
/auto
/phil-karn/ccsds_tab.c
/phil-karn/ccsds_tal.c
/phil-karn/fec
/phil-karn/fec-3.0.1/
/phil-karn/gen_ccsds
/phil-karn/gen_ccsds_tal
/phil-karn/librs.a
*.js.map
